<div>
    <div class="container-fluid">
        <div class="row"><br /></div>
        <div class="row">
            <div class="col-lg-12">
                <label class="label label-primary" style="padding:7px;text-transform:capitalize;">
                    Raw Data - {{header}} {{header2}}
                </label>
            </div>
            <div class="col-lg-12">
                <div ui-grid="lossDetailsGrid" class="revenuelossgrid"
                     ui-grid-resize-columns ui-grid-auto-resize ui-grid-pagination
                     ui-grid-selection></div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>